<div id="about" class = "container">
  <div class = "page-title-container">
    <h2 class="page-title">About Me</h2>
  </div>

  <%= image_tag "https://s3.us-west-1.amazonaws.com/modernwanderlust/About/erik_trautman_400x.jpeg", class: "profile-photo", size: "140x140" %>

  <p>
    My name is Erik Trautman and I’m a challenge-addicted entrepreneur who is fascinated by the intersection of business strategy and product development with technology and markets.  I'm also a multi-purpose nerd and model-builder with a penchant for engineering, designing and playing with data.
  </p>

  <p>
    Too much time spent playing poker at Penn led me from the labs of engineering to the halls of Wharton and onto Wall Street.  I spent half a decade building analytics infrastructure and trading on commodities desks from New York to Houston before shifting gears to build businesses.
  </p>

  <p>
    In 2013 I started <%= link_to "The Odin Project", "https://www.theodinproject.com" %>, an open-source web development community with almost 100,000 members.  In 2014 I founded <%= link_to "Viking Education", "https://www.vikingcodeschool.com" %>, a fully online software engineering program where students don't have to pay until they get a job. Both were acquired in 2017.
  </p>

  <p>
    I've also ridden through each of the lower 48 states on a motorcycle, most during <%= link_to "one epic trip", writing_path(:tag_filter => "Motorcycle Trip 2012", :order => "chron") %> in 2012, and a number of other countries as well during <%= link_to "another great trip", writing_path(:tag_filter => "World Moto Trip 2018", :order => "chron") %> in early 2018.  I ran my first triathlon in 2016 and <%= link_to "completed a full Ironman", post_path(id:"I am Ironman.") %> a year later in Santa Rosa, California. I can typically be found exploring new mountains or dancing like a maniac to whatever's playing.
  </p>

  <p>
    I'm driven to impact the world through the creation of high leverage businesses while living meaningfully and well.  Come along for the ride.
  </p>

  <div class="contact-methods">
    <div>
      <%= link_to "http://github.com/eriktrautman", target: "_blank" do %>
      <%= image_tag "https://s3.us-west-1.amazonaws.com/modernwanderlust/contact/github_logo.svg", size: "40x40" %>
      <% end %>
    </div>
    <div>
      <%= link_to "http://twitter.com/#!/ErikTrautman", target: "_blank" do %>
      <%= image_tag "https://s3.us-west-1.amazonaws.com/modernwanderlust/contact/twitter_logo.svg", size: "40x40" %>
      <% end %>
    </div>
    <div>
      <%= link_to "http://www.linkedin.com/pub/erik-trautman/39/3a3/3b9", target: "_blank" do %>
      <%= image_tag "https://s3.us-west-1.amazonaws.com/modernwanderlust/contact/linkedin_logo.svg", size: "40x40" %>
      <% end %>
    </div>
  </div>
</div>

<hr>

<%= render "shared/recent_posts" %>
