<div id="contact">
  <div class = "page-title-container">
    <h1 class="page-title">Contact</h1>
  </div>

  <p class = "contact-me">
    You can find me in a number of different places across the web:
  </p>

  <div class="contact-methods">
    <div>
      <%= link_to "http://github.com/eriktrautman" do %>
        <%= image_tag "https://s3.us-west-1.amazonaws.com/modernwanderlust/contact/github_logo.svg", size: "40x40" %>
      <% end %>
    </div>
    <div>
      <%= link_to "http://twitter.com/#!/ErikTrautman" do %>
        <%= image_tag "https://s3.us-west-1.amazonaws.com/modernwanderlust/contact/twitter_logo.svg", size: "40x40" %>
      <% end %>
    </div>
    <div>
      <%= link_to "http://www.linkedin.com/pub/erik-trautman/39/3a3/3b9" do %>
        <%= image_tag "https://s3.us-west-1.amazonaws.com/modernwanderlust/contact/linkedin_logo.svg", size: "40x40" %>
      <% end %>
    </div>
  </div>
</div>

<hr>
<%= render "shared/recent_posts" %>
