<div id="topnav">
  <% if @post %>
    <div class="prev-next">
      <% unless @prev.empty? %>
        <span class="prev">
          <%= link_to "&laquo; Previous".html_safe, @prev[0], :class => "left" %>
        </span>
      <% else %>
        <span class="prev disabled">
          &laquo; Previous
        </span>
      <% end %>
    </div>
  <% end %>
  
  <ul>
    
    <%= link_to root_path do %>
      <li class="<%= request.fullpath == root_path ? 'active' : '' %>">
        Home
      </li>
    <% end %>

    <%= link_to posts_path do%>
      <li class="<%= request.fullpath.include?(posts_path) ? 'active' : '' %>">
        Blog
      </li>
    <% end %>
    
    <%= link_to about_path do%>
      <li class="<%= request.fullpath == about_path ? 'active' : '' %>">
        About
      </li>
    <% end %>

    <%= link_to contact_path do%>
      <li class="<%= request.fullpath == contact_path ? 'active' : '' %>">
        Contact
      </li>
    <% end %>

  </ul> 

  <% if @post %>  
    <div class="prev-next">
      <% unless @next.empty? %>
        <span class="next">
          <%= link_to "Next &raquo;".html_safe, @next[0], :class => "right" %>
        </span>
      <% else %>
        <span class="next disabled right">
          Next &raquo;
        </span>
      <% end %>
    </div>
  <% end %>
</div>

