<div id = "topnav">

  <div class = "container">

    <ul>

      <!-- <%= link_to root_path  do %>
      <li>
        Home
      </li>
      <% end %> -->

      <%= link_to writing_path  do %>
        <li>
          Writing
        </li>
      <% end %>

      <%= link_to writing_path(tag_filter:"Travel")  do %>
        <li>
          Travel
        </li>
      <% end %>

      <% if @blog == true %>
      <% end %>

      <%= link_to archives_path  do %>
        <li>
            Archive
          </li>
        <% end %>

        <%= link_to about_path  do %>
          <li>
          About
        </li>
      <% end %>


    </ul>


  </div>
</div>


<div id = "topnav-spacer"></div>
