<div class="post-form">

  <%= simple_form_for post do |f| %>

    <%= f.input :title %>
    <br>
    <%= f.input :created_at, :as => :string %>
    <br>

    <%# Can't use CKEditor here :( will have to upload each time... %>
    <%#= f.input :header_image, as: :ckeditor, input_html: { ckeditor: { toolbar: 'image' } } %>
    <label>Header Image</label><br>
    <em>Upload an image that is square or wide (it will be cropped).</em>
    <br>

    <% if post.header_image.exists? %>
      <%= image_tag paperclip_url_builder( post.header_image.path(:thumb)) %>

      <br>

      <%= f.check_box :delete_header_image %><%= f.label :delete_header_image %>
    <% else %>
      <%= f.input :header_image, as: :file, label: false %>
    <% end %>

    <br>
    <%= f.check_box :display_header_image_in_post %><%= f.label "Display header image in post?" %>

    <br>
    <br>


    <%# CKEditor hates how we stored markdown in the DB before... %>
    <% if post.md %>
      <strong>WARNING:</strong> CKEditor stores posts as HTML.  Since you're editing a post that has been flagged as Markdown, <strong>YOU WILL NOT BE ABLE TO EDIT IT.</strong>  It sucks, but it's true.  There was a workaround where you could cut the content, enable the Markdown portion of the editor, paste the content there, make your edits, then go back to the main editor, where it will be rendered as HTML.  Not anymore...  Now you need the original MD source code to essentially re-do the post from scratch. It sucks.
    <% end %>

    <%= f.input :body, as: :ckeditor, input_html: { ckeditor: { uiColor: "#AADC6E", height: 600} } %>

    <br>
    <%= f.input :md, :label => "Render with Mardown? (UNCHECK if unsure)" %>
    <br>
    <label for="tags">
      Enter Tags (separated by commas)
    </label>
    <br>
    <input type="text" name="tags" value="<%= @tags %>">
    <br><br>

    <%= f.submit %>
    <% unless f.object.new_record? %>
      <div class = "delete-link">
        <%= link_to "Delete Post", post_path(post), :method => "DELETE" %>
      </div>
    <% end %>

  <% end %>
</div>
