<div class="post-form">

  <%= simple_form_for post do |f| %>

    <%= f.input :title %>
    <br>
    <%= f.input :created_at, :as => :string %>
    <br>
    <%= f.input :body, as: :ckeditor, input_html: { ckeditor: { uiColor: "#AADC6E", height: 600} } %>
    <br>
    <%= f.input :md, :label => "Render with Mardown?" %>
    <br>
    <label for="tags">
      Enter Tags (separated by commas)
    </label>
    <br>
    <input type="text" name="tags" value="<%= @tags %>">
    <br><br>

    <%= f.submit %>
    <% unless f.object.new_record? %>
      <%= link_to "Delete Post", post_path(post), :method => "DELETE" %>
    <% end %>

  <% end %>
</div>
