<div class="post">
  <%= render :partial => "posts/admin_links", :locals => { :post => post } %>


  <% if post.header_image.exists? && !show %>
    <%= link_to post do %>
      <div class = "post-banner-index">
        <%= image_tag paperclip_url_builder( post.header_image.path(:banner)) %>
      </div>
    <% end %>
  <% end %>



  <div class="post-title-wrapper">

    <% if @post && @post.new_record? == false %>
      <% unless @prev.nil? %>
        <%= link_to @prev, :class => "left mobile-hide", :title => "Previous Post: #{@prev.title}" do %>
        <div class="prev-arrow arrow hover-arrow">
          <div class="inner-prev-arrow inner-arrow">
          </div>
        </div>
        <% end %>
        <% else %>
        <div class="prev-arrow arrow disabled-arrow mobile-hide">
          <div class="inner-prev-arrow inner-arrow">
          </div>
        </div>
      <% end %>
    <% end %>

    <h1>
      <% if show %>
        <%= post.title %>
      <% else %>
        <%= link_to "#{ post.title }", post %>
      <% end %>
    </h1>

    <% if @post && @post.new_record? == false %>
      <% unless @next.nil? %>
        <%= link_to @next, :class => "right mobile-hide", :title => "Next Post: #{@next.title}" do %>
          <div class="next-arrow arrow hover-arrow">
            <div class="inner-next-arrow inner-arrow">
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="next-arrow arrow disabled-arrow mobile-hide">
          <div class="inner-next-arrow inner-arrow">
          </div>
        </div>
      <% end %>
    <% end %>

    <div class="post-date">
      Published on <time datetime="<%=post.created_at%>"><%= post.created_at.strftime("%B %-d, %Y") %></time>
    </div>

  </div>



  <% if post.header_image.exists? && show && post.display_header_image_in_post %>
    <div class = "post-banner">
      <%= image_tag paperclip_url_builder( post.header_image.path(:reduced)) %>
    </div>
  <% end %>


  <%# render using markdown if that's specified by the post,
        which it is for all new ones, otherwise we need to
        wrap the whole post in a <p> tag or the font sizing
        won't work properly (it's all based on the <p> size) %>
  <div class="post-body">
    <% if post.md %>
      <% post_body = md(post.body) %>
    <% else %>
        <% post_body = "<p>" + post.body + "</p>" %>
    <% end %>

    <%# If we're on the index page, render only previews %>
    <% if show %>
      <%= post_body.html_safe %>
    <% else %>
      <%= show_preview(post_body).html_safe %>
      <p class="read-more">
        <%= link_to "Read More...", post %>
      </p>
    <% end %>
  </div>

  <%# only display tags on the individual post show pages %>
  <% if show %>
    <div class="tags">
      Tags: &nbsp;
      <% tag_list = post.tags.map do |tag| %>
        <% link_to "#{tag.name}", writing_path(:tag_filter => "#{tag.name}") %>
      <% end %>
      <%= tag_list.join(" | ").html_safe %>
    </div>
  <% end %>
</div>
<hr>
