<div class="post-form">

  <%= simple_form_for post do |f| %>

    <%= f.input :title %>
    <br>
    <%= f.input :created_at, :as => :string %>
    <br>

    <%# CKEditor hates how we stored markdown in the DB before... %>
    <% if post.md %>
      NOTE: CKEditor hates markdown (it stores posts as HTML) so you can't use it for this one... <br>
      Uncheck the "Render with Markdown?" checkbox to get CKEditor but note that it'll yak on trying <br>
      to render .md files.<br><br>
      
      <%= f.input :body %>
    <% else %>
      <%= f.input :body, as: :ckeditor, input_html: { ckeditor: { uiColor: "#AADC6E", height: 600} } %>
    <% end %>

    <br>
    <%= f.input :md, :label => "Render with Mardown?" %>
    <br>
    <label for="tags">
      Enter Tags (separated by commas)
    </label>
    <br>
    <input type="text" name="tags" value="<%= @tags %>">
    <br><br>

    <%= f.submit %>
    <% unless f.object.new_record? %>
      <%= link_to "Delete Post", post_path(post), :method => "DELETE" %>
    <% end %>

  <% end %>
</div>
