<div class="post-form">

  <%= simple_form_for post do |f| %>

    <%= f.input :title %>
    <br>
    <%= f.input :created_at, :as => :string %>
    <br>

    <%# Can't use CKEditor here :( will have to upload each time... %>
    <%#= f.input :header_image, as: :ckeditor, input_html: { ckeditor: { toolbar: 'image' } } %>
    <%= f.input :header_image, as: :file %>


    <%# CKEditor hates how we stored markdown in the DB before... %>
    <% if post.md %>
      <strong>WARNING:</strong> CKEditor stores posts as HTML.  Since you're editing a post that has been flagged as Markdown, you'll need to cut the content, enable the Markdown portion of the editor, paste the content there, make your edits, then go back to the main editor, where it will be rendered as HTML.  If you don't, all the markdown you see now will be escaped and saved directly... YUCK!
    <% end %>

    <%= f.input :body, as: :ckeditor, input_html: { ckeditor: { uiColor: "#AADC6E", height: 600} } %>

    <br>
    <%= f.input :md, :label => "Render with Mardown? (use FALSE if unsure)" %>
    <br>
    <label for="tags">
      Enter Tags (separated by commas)
    </label>
    <br>
    <input type="text" name="tags" value="<%= @tags %>">
    <br><br>

    <%= f.submit %>
    <% unless f.object.new_record? %>
      <%= link_to "Delete Post", post_path(post), :method => "DELETE" %>
    <% end %>

  <% end %>
</div>
