<div class="post">
  <h2>
    <% if show %>
      <%= post.title %>
    <% else %>
      <%= link_to "#{ post.title }", post %>
    <% end %>
  </h2>
  <h4><%= post.created_at %></h4>
  <%= render :partial => "admin_links", :locals => { :post => post } %>
  <div class="post-body">
    <%= post.body %>
  </div>
  <hr>
</div>