<div class="post">
  <h1>
    <% if show %>
      <%= post.title %>
    <% else %>
      <%= link_to "#{ post.title }", post %>
    <% end %>
  </h1>
  <h4 class="sub-box"><%= post.created_at %></h4>
  <%= render :partial => "admin_links", :locals => { :post => post } %>
  <div class="post-body">
    <% if post.md %>
      <%= md(post.body).html_safe %>
    <% else %>
      <%= post.body.html_safe %>
    <% end %>
  </div>
  <div class="tags">
    <% tag_list = post.tags.map do |tag| %>
      <% link_to "#{tag.name}", posts_path(:tag_filter => "#{tag.name}") %>
    <% end %>
    <%= tag_list.join(" | ").html_safe %>
  </div>
  <hr>
</div>