<!DOCTYPE html>
<html>
<head>
  <title>Erik Trautman's Personal Website</title>
  <meta name="Description" CONTENT="The personal website of Erik Trautman -- A happy intersection of startups, design, and web development with a healthy dose of random and a touch of creativity.">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    
    <%= bootstrap_flash %>

    <%= render "shared/titlebar" %>
        <!-- <%= render "shared/tagline" %> -->
    <div class="row">
      <div class="col-md-6 col-md-offset-1">
        <%= render "shared/topnav" %>
        <div id="content">
          <%= yield %>
        </div>
        <% if @posts %>
          <%= render "shared/pagination" %>
        <% end %>
      </div>
      <div id="sidebar">
        <div class="col-md-4">
          <%= render "shared/photo_box" %>
          <hr>
          <%= render "shared/recent_posts" %>
          <hr>
          <%= render "shared/tags" %>
          <hr>
          <%= render "shared/archives" %>
        </div>
      </div>
    </div>
    <div class="row">
      <%= render "shared/footer" %>
    </div>
  </div>
  <%= render "shared/ga" %>
</body>
</html>
