<!DOCTYPE html>
<html>
<head>
  <title>Entrepreneurship, Business Strategy and Product Development in the Age of AI</title>
  <meta name="Description" CONTENT="The personal website of Erik Trautman -- A happy intersection of startups, design, and web development with a healthy dose of random and a touch of creativity.">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%# So devices don't display a full-width version %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Typekit Fonts -->
  <link rel="stylesheet" href="https://use.typekit.net/ayy5hcf.css">

</head>
<body data-no-turbolink = "true" >

  <%= render "shared/titlebar" %>
  <%= render "shared/topnav" %>

  <div class="container">
    <%= bootstrap_flash %>
  </div>

  <div id="content">
    <%= yield %>
  </div>

  <% if @posts %>
    <%= render "shared/pagination" %>
    <div class="archive-link">
      <%= link_to "View the Archives", archives_path %>
    </div>
  <% end %>


  </div>
    <%= render "shared/footer" %>
  <%= render "shared/ga" %>
</body>
</html>
