<!DOCTYPE html>
<html>
<head>
  <title>
    <%= if content_for?(:page_title) then yield(:page_title) + " | " end %>
    See the world, understand the world, improve the world.</title>
  <meta name="Description" CONTENT="The personal website of Erik Trautman -- An exploration of entrepreneurship, business strategy and product development plus a whole lot more">

  <% if content_for?(:page_image_url) %>
    <meta property="og:image:url" content="<%= yield(:page_image_url) %>">
    <meta property="og:image:secure_url" content="<%= yield(:page_image_url) %>">
  <% end %>


  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag Ckeditor.cdn_url %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%# So devices don't display a full-width version %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Typekit Fonts -->
  <link rel="stylesheet" href="https://use.typekit.net/ayy5hcf.css">

</head>
<body data-no-turbolink = "true" >

  <header>
    <%= render "shared/titlebar" %>
    <%= render "shared/topnav" %>

    <div class="container">
      <%= bootstrap_flash %>
    </div>
  </header>

  <main id="content">
    <%= yield %>
  </main>

  <% if @posts %>
    <%= render "shared/pagination" %>
    <div class="archive-link">
      <%= link_to "View the Archives", archives_path %>
    </div>
  <% end %>


  </div>
    <%= render "shared/footer" %>
  <%= render "shared/ga" %>
</body>
</html>
